.center {
	display: block;
	text-align: -webkit-center;
}
#proj {
	width: 70%;
	display: block;
}
.content {
	text-align: -webkit-center;
	background-color: lightgray;
}
.menus {
	font-size: larger;
	background-color: lightblue;
	line-height: 35px;
}
.menus > a{
	padding: 2px;
	border-style: groove;
	cursor: pointer;
}
.menus > a.active {
	color: darkblue;
	font-weight: bold;
}
.title {
	display: -webkit-box;
	font-size: x-large;
	width: 33%;
	border-style: ridge;
	border-bottom-width: 0;
	background-color: lightgoldenrodyellow;
}
.fa {
	background-color: #f5f1f1c9;
	border-color: #d8bf35;
	cursor: pointer;
	border-spacing: 10px;
	padding: 2px;
	margin: 2px;
	border-style: solid;
}
a[href], [system-browse] {
	color: blue;
	cursor: pointer;
	text-decoration: none;
}
